__pycache__
/log.txt
/logs
/command_chain.mcfunction
/commands_original.mcfunction
/commands.mcfunction
/session.json
/options.json
/player_names.json
/.venv
/sound_event_extractor.py
/debug_world_extractor.py
/object_fetcher.py
/backup
/blocks.txt
/To-Do List.txt